/*main-site styling*/
#site-logo{
	padding-top: 0.65%;
	border-radius: 8%;
}
.pd{
	padding-top: 7.6%;
	padding-right: 6%;
	background-color: inherit;
	color: inherit;
}
.social{
	padding-right: 1%;
	display: inline;
}
/*---------------------*/
h1{
	text-align: center;
	font-weight: 24px;
	border-top: 5px solid #808080;
	border-bottom: 5px solid #808080;
	letter-spacing: 5px;
}
.grid{
	background-image: url("bg.jpg");
}
.grid-item {
    width: 400px;
    height: 300px;
    float: left;
    margin: 1.8%;
}
